$primary: black;
$transition: all .5s cubic-bezier(.87, -.41, .19, 1);

$mainColor: #707070;
$secondary: #e75a7c;



/* Breakpoints */
$minPhone: 450px;
$phone: 600px;
$minTablet: 690px;
$tablet: 769px;
$minLaptop: 1024px;
$laptop: 1260px;
$desktop: 1400px;

/* Mobile nav breakpoint */
$mobile: 800px;

/* Define with of layout to recalculate vw */
$projectWidth: 1920px;
$gridWidth: 1280px;


/* Libraries */
@import 'lib/reset';
@import 'lib/helpers';
@import 'lib/grid';
@import 'lib/owl';
@import 'lib/mixins';


