*{
	margin: 0;
	padding: 0;	
}
@media screen and (min-width: $mobile) {
	.menu__toggle {
		display: none;
	}
	.header {
		width: 100%;
		top: 0;
			&__branding{
				width: 200px;
				display: block;
				margin: 0 auto;
				padding: 20px 0 20px 0;
				background-color: #fff;
			}
			&__nav{
				text-align: center;
				padding-bottom: 40px;
					ul{
						list-style: none;
						display: inline-flex;
							li{
								margin-left: 40px;
								color: $mainColor;
								font-size: 1.3rem;
								font-weight: 700;
									&:first-child{
										margin-left: 0;
									}
									&:hover{
										color: $secondary;
									}
									a{
										display: block;
									}
							}
					}
			}
	}
}
@media screen and (max-width: $mobile) {
	.header{
		width: 100%;
		position: sticky;
		top: 0;
		background-color: #fff;
		padding: 10px 0;
		z-index: 99;
  }
	.header__branding{
		@include center();
			img{
				width: 150px;
			}
	}
	.menu__toggle {
		$size: 50px;
		width: $size;
		height: $size;
		z-index: 100;
		position: absolute;
		cursor: pointer;
		float: right;
		top: 40px;
		right: 40px;
		svg {
			position: absolute;
			right: -15%;
			height: 100%;
			transform-origin: top right;
		}
		path {
			fill: none;
			stroke: #707070;
			stroke-width: 3;
			stroke-linecap: round;
			stroke-linejoin: round;
			--length: 24;
			--offset: -38;
			stroke-dasharray: var(--length) var(--total-length);
			stroke-dashoffset: var(--offset);
			transition: $transition;
			&:nth-child(1),
			&:nth-child(3) {
				--total-length: 126.64183044433594;
			}
			&:nth-child(2) {
				--total-length: 70;
			}
		}
	}
	.menu {
		@include center();
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #fff;
		transition: $transition;
		transform: translateX(-110vw);
		list-style: none;
		li {
			transition: $transition;
			transform: translateX(-50px);
			opacity: 0;
			margin: 10px 0;
			a {
				font-size: 2rem;
				text-transform: uppercase;
				color: $secondary;
			}
		}
	}
	.header--toggled {
		z-index: 99;
		transform: translateY(0);
		.menu {
			&__toggle {
				path {
					stroke: $mainColor;

					&:nth-child(1),
					&:nth-child(3) {
						--length: 22.627416998;
						--offset: -94.1149185097;
					}

					&:nth-child(2) {
						--length: 0;
						--offset: -50;
					}
				}
			}
			transform: translateX(0vh);

			li {
				transition-delay: 0.3s;
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}
@media screen and (max-width: $minPhone) {
	.header{
		padding: 0;
	}
	.menu__toggle {
		$size: 20px;
		top: 30px;
		right: 30px;
	}
}