.sidebar{
    width: 25%;
    margin-top: 60px;
    float: right;
    padding: 5px;
    @include fontStyle($mainColor, 1.2rem, 400, left);
    line-height: 22px;
        h3{
            @include fontStyle($secondary, 1.8rem, 700, center);
            padding: 50px 10px 30px 0;
        }
        ul{
            list-style: disc;
        }
        li{
            margin-bottom: 10px;
                &:hover{
                    color: $secondary;
                }
        }
}
@media screen and (max-width: $desktop) {
    .sidebar{
        width: 20%;
        margin-right: 50px;
    }
}
@media screen and (max-width: $laptop) {
    .sidebar{
        display: none;
    }
}