
.slider{
  width: 100%;
    &__single_element{
        width: 100%; 
        position: relative; 
        z-index: 1;
          &--picture{
              width: 100%;
              height: 620px;
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
              display: flex;
              align-items: flex-end;
              position: relative;
          }
          &--title{
            width: 100%;
            margin-top: -50px;
            padding: 30px;
            background-color: $secondary;
            position: relative;
            font-size: 1.5rem;
            color: #fff;
              &::first-letter{
                margin-left: 5px;
                font-size: 1.6rem;
              }
          }
    }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.posts{
  width: 70%;
    .single_post{
      width: 45%;
      display: inline-block;
      margin: 60px 40px 0 0;
        &__main_picture{
          width: 100%;
          height: 250px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            } 
        }
        &__title{
          @include fontStyle($secondary, 2rem, 700, center);
          padding: 30px 0;
          transition: 0.05s;
            &:hover{
              color: #f3adbe;
            }
        }
        &__description{
          @include fontStyle($mainColor, 1.1rem, 400, justify);
          padding: 0 30px;
        }
        &__author{
          @include fontStyle($secondary, .9rem, 400, right);
          padding: 20px 30px 0 30px;
        }
        &__date{
          @include fontStyle($secondary, .9rem, 400, right);
          padding: 0 30px 20px 30px;
        }
        &__read_more{
          width: 200px;
          background-color: $secondary;
          color: #fff;
          margin: 0 auto;
          text-align: center;
          transition: .5s;
            a{
              display: block;
              padding: 10px 10px;
            }
            &:hover{
              transform:scale(1.1,1);
              border-radius: 30px;
            }
        }
        &:first-child{
          width: 100%;
          height: 700px;
            .single_post__main_picture{
              height: 500px;
            }
        }
    }
}

.pagination {
  @include center();
  @include fontStyle($secondary, 1.8rem, 700, center);
  margin-top: 50px;
    span{
      padding: 10px;
        &:first-child{
          display: none;
        }
    }
    .inactive{
      padding: 10px;
        &:hover{
          font-size: 2rem;
        }
    }
    .current{
      font-size: 2rem;
    }
  
}
@media screen and (max-width: $desktop) {
  .slider{
    &__single_element{
          &--picture{
              height: 550px;
          }
      }
  } 
  .posts{
    width: 65%;
    margin-left: 50px;
      .single_post{
        width: 80%;
        display: block;
        margin:  0 auto;  
        margin-top: 70px;
          &__main_picture{
            height: 450px;
          }
          &:first-child{
            height: 830px;  
              .single_post__main_picture{
                height: 500px;
              }
          }
      }
  }
}
@media screen and (max-width: $laptop) {
  .slider{
    &__single_element{
          &--picture{
              height: 450px;
          }
      }
  } 
  .posts{
    width: 90%;
    margin: 0 auto;
      .single_post{
        width: 70%;
          &__main_pictur{
            height: 450px;
          }
          &:first-child{
            height: 850px;
              .single_post__main_picture{
                height: 450px;
              }
          }
      }
  }
}
@media screen and (max-width: $minLaptop) {
  .posts{
      .single_post{
          &:first-child{
            height: 820px;  
              .single_post__main_picture{
                height: 450px;
              }
          }
      }
  }
}
@media screen and (max-width: $tablet) {
  .slider{
    margin-top: 30px;
  } 
  .posts{
    .single_post{
      width: 80%;
        &__main_picture{
          height: 300px;
        }
        &:first-child{
          height: 850px;  
            .single_post__main_picture{
              height: 350px;
            }
        }
    }
  }
}
@media screen and (max-width: $mobile) {
  .posts{
    width: 100%;
      .single_post{
        width: 80%;
          &__main_picture{
            height: 400px;
          }
          &:first-child{
            height: 880px;  
              .single_post__main_picture{
                height: 450px;
              }
          }
      }
  }
}

@media screen and (max-width: $phone) {
  .slider{
    margin: -60px 0 0px 0;
  }
  .posts{
    .single_post{
      width: 100%;
      margin-top: 50px;
        &__main_picture{
          height: 300px;
        }
        &:first-child{
            height: 840px;
            .single_post__main_picture{
              height: 300px;
            }
        }
    }
  }
}
@media screen and (max-width: $minPhone) {
  .posts{
    .single_post{
      width: 100%;
      margin-top: 50px;
        &__main_picture{
          height: 250px;
        }
        &:first-child{
            height: 900px;
            .single_post__main_picture{
              height: 250px;
            }
        }
    }
  }
}
