html {
	font-size: 1rem;
}
body {
	color: $primary;
	font-family: 'Roboto', sans-serif;
}
.text {
	p,
	li {
		padding-bottom: 30px;
	}
}
a,
button,
input {
	transition: $transition;
}
.post-views{
	display: none;
}
.hide{
	opacity:0
}
.show {
	opacity: 1;
}
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:none!important;
    animation-fill-mode:none!important
}