// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700&subset=latin-ext');

html {
	font-size: 1rem;
}

body {
	color: $primary;
	font-family: 'Roboto', sans-serif;
}


.text {

	p,
	li {
		padding-bottom: 30px;
	}
}

a,
button,
input {
	transition: $transition;
}
//animate
.hide{
	opacity:0
}

.show {
	opacity: 1;
}
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:none!important;
    animation-fill-mode:none!important
}